{% extends 'classroom/base.html' %}
{% block content %}


<div class="container">
  <div class="jumbotron">
{% if teacher.teacher_assignment.count == 0 %}
  <h2>Nije objavljen ni jedan zadatak</h2>
{% else %}
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Naziv Zadatka</th>
        <th scope="col">Postavljeno na Datum</th>
        <th scope="col">Preuzmi</th>
        <th scope="col">Promijeni</th>
        <th scope="col">Izbriši</th>
      </tr>
    </thead>
    <tbody>
      {% for assignment in teacher.teacher_assignment.all %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ assignment.assignment_name }}</td>
          <td>{{ assignment.created_at }}</td>
          <td><a href="{{ assignment.assignment.url }}" class="btn btn-primary" target="_blank">Preuzmi</a></td>
          <td><a href="{% url 'classroom:update_assignment' id=assignment.id %}" class="btn btn-primary">Promijeni</a></td>
          <td><a href="{% url 'classroom:assignment_delete' id=assignment.id %}" class="btn btn-danger">Izbriši</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
</div>
</div>
{% endblock %}
