{% extends 'classroom/base.html' %}
{% block content %}

<div class="container">
<div class="jumbotron">
  {% if notice_sent %}
  <h1>Vaša Obavijest je uspješno dodana.</h1>
  {% else %}
  <h1 style="text-align:center;">Napišite vašu Obavijest ovdje!</h1>
  <h3>Obavijest će biti poslana svakom studentu u vašem kolegiju.</h3>
  <hr>
  <form method="post">
    {% csrf_token %}
    {{ notice.as_p }}
    <input type="submit" class="btn btn-danger" value="Dodaj Obavijest">
  </form>
  {% endif %}
</div>
</div>


{%  endblock %}
